@import '/src/styles/index.scss';

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-color: #fff;
  background-image: url(https://res.cloudinary.com/dggbmtpgx/image/upload/v1729606848/BG_zjv7ao.png);
  background-size: cover;
  justify-content: center;
  align-items: center;
}
