@use "../../styles/index.scss" as *;

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
  border: none;
  transition: 0.3s linear;
  position: relative;
  white-space: nowrap; /* Prevents the text from wrapping */
  overflow: hidden; /* Hides any overflow */
  text-overflow: ellipsis;

  &:disabled {
    cursor: default;
  }
}

.cover {
  width: 100%;
}

.loader {
  margin-left: 9px;
  color: #002201;
  display: flex;
  align-items: center;
  position: absolute;

  svg {
    animation: spin 0.6s infinite linear;
    color: #002201;
  }
}

span.loader-text {
  // position: absolute;
  opacity: 0.5;
}

.error {
  color: rgb(185, 48, 48);
  font-size: 12px;
  margin: 5px;
  width: 100%;
  text-align: center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

//button sizes

button.large {
  height: 48px;
  gap: 10px;
  padding: 16px;
  border-radius: 8px;
  font-size: 16px;

  svg {
    font-size: 26px;
  }
}

button.medium {
  height: 40px;
  gap: 8px;
  padding: 10px;
  border-radius: 8px;
  font-size: 14px;

  svg {
    font-size: 22px;
  }
}

button.small {
  height: 32px;
  gap: 6px;
  padding: 6px;
  border-radius: 6px;
  font-size: 12px;

  svg {
    font-size: 18px;
  }
}

button.xtra-small {
  height: 24px;
  gap: 4px;
  padding: 4px;
  border-radius: 6px;
  font-size: 10px;

  svg {
    font-size: 14px;
  }
}

//button variants
button.solid {
  background-color: #c5ee4f;
  color: #002201;

  &:hover {
    background-color: #8ba738;
  }

  &:disabled {
    background: #8e8e93;
    cursor: not-allowed;
    opacity: 0.6;

    &:hover {
      transform: none;
    }
  }

  &:active {
    background-color: #b1d445;

    &:hover {
      transform: none;
    }
  }

  .loader {
    color: white;
  }
}

button.solid-error {
  background-color: #f1111e;
  color: #ffffff;

  &:hover {
    background-color: #f1111e;
  }

  &:disabled {
    background: #8e8e93;
    cursor: not-allowed;
    opacity: 0.6;

    &:hover {
      transform: none;
    }
  }

  &:active {
    background-color: #d80712;

    &:hover {
      transform: none;
    }
  }

  .loader {
    color: white;
  }
}

button.outlined {
  background-color: #ffffff;
  color: #c5ee4f;
  border: 1px solid #c5ee4f;

  &:hover {
    background-color: #e5efff;
  }

  &:disabled {
    background: #8e8e93;
    cursor: not-allowed;
    opacity: 0.6;
    border: none;

    &:hover {
      transform: none;
    }
  }

  &:active {
    background-color: #b2cfff;

    &:hover {
      transform: none;
    }
  }
}

button.outlined-error {
  background-color: #ffffff;
  color: #f1111e;
  border: 1px solid #f1111e;

  &:hover {
    background-color: #e5efff;
  }

  &:disabled {
    background: #8e8e93;
    cursor: not-allowed;
    opacity: 0.6;
    border: none;

    &:hover {
      transform: none;
    }
  }

  &:active {
    background-color: #b2cfff;

    &:hover {
      transform: none;
    }
  }
}

.text {
  background-color: transparent;
  border: none;
  color: #c5ee4f;

  &:hover {
    background-color: #e5efff;
  }

  &:disabled {
    background: #8e8e93;
    cursor: not-allowed;
    opacity: 0.6;

    &:hover {
      transform: none;
    }
  }

  &:active {
    background-color: #b2cfff;

    &:hover {
      transform: none;
    }
  }

  // &:focus{
  //     background-color: #FFFFFF;
  //     border: 5px solid #80AFFF;
  // }
}
