@use "../../styles/index.scss" as *;

.wrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Inter";

  @include tablet {
    top: 0px;
  }

  .overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.25);
    position: absolute;
    backdrop-filter: blur(4px);
  }

  h1,
  p,
  h2,
  div {
    transform: translateX(0.01px);
  }
}
