@use "@/styles/index.scss" as *;

.container {
  width: 320px;
  max-width: calc(100vw - 32px);
  padding: 32px;
  gap: 10px;
  border-radius: 32px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .title {
    display: flex;
    flex-direction: column;
    gap: 8px;

    h4 {
      all: unset;
      font-size: 24px;
      font-weight: 700;
      line-height: 32px;
      color: #171717;
    }

    h5 {
      all: unset;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      color: #171717;
    }
  }

  .wallets {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .wallet {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 16px;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        transform: scale(1.05);
      }

      img {
        width: 40px;
        height: 40px;
        border-radius: 40px;
      }

      span {
        color: #171717;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
      }
    }
  }
}
